#            DBSel        user   pw     ip        port DBName
DATABASE_URL=postgresql://prisma:prisma@localhost:5432/postgres
#Gere o Hash MD5 e cole-0 abaixo! 
# link de onde gerar: https://www.md5hashgenerator.com/
#Texto Usado:
HASHMD5JWT=
